# git config --global core.excludesfile ~/.gitignore
# common for all
/build/
/Examples/ROS/ORB_SLAM2/build/
/Thirdparty/
KeyFrameTrajectory.txt
/Vocabulary/


# IDE specific files
# PLEASE ADD YOUR IDE/EDITOR SPECIFIC FILES HERE
# TO PREVENT COMITTING THEM
.vscode

