# git config --global core.excludesfile ~/.gitignore
# common for all
/build/
/Examples/ROS/ORB_SLAM2/build/
/lib/libORB_SLAM2.so
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/Stereo/stereo_kitti
/Thirdparty/
KeyFrameTrajectory.txt
/Vocabulary/
/backup_trajectory/
/Examples/ROS/ORB_SLAM2/Mono
# IDE specific files
# PLEASE ADD YOUR IDE/EDITOR SPECIFIC FILES HERE
# TO PREVENT COMITTING THEM
.vscode
